body{
    margin: 0;
    padding: 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 18px;
    background-color:rgb(210, 224, 223);
}
strong{
    font-weight: 800;
    font-size: 36px;
}

/*
Header Section
*/
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin:0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h1.sec_2_h1{
    margin:0;
    text-align: left;
    padding-bottom: 0;
}

h2{
    margin:0;
    padding: 1em;
    font-size: 24px;
    font-weight: 600;
}

div.div_student{
    background-color: white;
    display:inline-block;
    text-align: center;
    width: 300px;
}

div.div_student_mid{
    background-color: #2F4F4F;
    color: white;
    display:inline-block;
    text-align: center;
    width: 300px;
}

[href]{
    color:lightskyblue;
}

/*
ID Section
*/
#section_1{
    box-shadow: 2px 2px 2px 2px gray;
    width: 910px;
    font-weight: 300;
}

#section_2{
    font-weight: 300;
    margin-top: 2em;
    background-color: #2F4F4F;
    width: 895px;
    color:white;
    text-align: left;
    padding-left:1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
#section_2 p{
    margin-top:0.5em;
}

#bs_payment{
    background-color: #5BB189;
    padding: 1em;
    margin: 0em;
    font-size: 18px;
}

#ss_payment{
    background-color: #4B0082;
    padding: 1em;
    margin: 0em;
    font-size: 18px;
}

#sch_payment{
    background-color: #EC632A;
    padding: 1em;
    margin: 0em;
    font-size: 18px;
}

/*
Lists
*/

ul.no_bullets{
    list-style-type: none;
    padding:0;
    margin-bottom: 0;
    margin-top: 0;
}

li.sec1_list{
    padding-top: 1em;
    padding-bottom: 1em;
}

li.sec2_list{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    font-weight: 600;
    background-image: url(../images/checkmark.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 24px;
}

li:nth-child(even).sec1_list{
    background-color: rgba(47,59,64,0.35);
}
li:last-child.sec1_list{
    padding-top: 2.5em;
    padding-bottom: 2.5em;

}

/*
Buttons
*/

a.button{
    background-color: #436abf;
    border-radius: 5px;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color:white;
    text-decoration: none;
    
}

a.button:hover{
    background-color: #437CBF;
}

